.heading {
    background: linear-gradient(205deg, #5c27c0 -2.96%, #300580 -2.95%, #734db9 45.39%, #c4a5ff 104.01%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-h1 {
    background: var(--Linear, linear-gradient(231deg, #5c27c0 12.56%, #300580 12.57%, #c4a5ff 107.67%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-h2 {
    background: var(--button-grad-2, linear-gradient(95deg, #a77afc -12.03%, #5c27c0 61.09%, #5800ff 119.17%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-h2-right {
    background: linear-gradient(87deg, #5c27c0 0.94%, #300580 0.95%, #a47eeb 76.65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-btn {
    /* border-radius: 1.25rem; */
    background: linear-gradient(95deg, #a77afc -12.03%, #5c27c0 61.09%, #5800ff 119.17%);
    box-shadow: 0px 8px 18px 0px rgba(174, 93, 255, 0.46);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.faded-box-shadow {
    box-shadow:
        0px -10px 10px -10px #000000,
        0px 10px 10px -10px #000000;
}

.testimonial-container {
    margin-top: 4rem;
    background-color: #fdfdfd;
    position: relative;
    overflow: scroll;
}

.testimonial-container::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 14rem;
    background: linear-gradient(rgba(253, 253, 253, 1), rgba(253, 253, 253, 0));
    filter: blur(27px);
    z-index: 1;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

strong {
    /* color: #5c27c0; */
    font-family: "GarnettMedium";
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 123%;
    color: #272727;
}

@media (max-width: 768px) {
    .heading-btn {
        border-radius: 0.5rem;
        background: var(--Primary-100, #5c27c0);
        box-shadow: 0px 8px 18px 0px rgba(174, 93, 255, 0.46);
    }
}

.swiper-pagination-bullet {
    border-radius: 0.3125rem;
    background: var(--Primary-300, #efe5ff);
    height: 0.5rem !important;
    width: 3rem !important;
    opacity: 1;
    margin-top: 1rem !important;
}

.swiper-pagination-bullet-active {
    background: var(--Primary-100, #5c27c0);
    width: 2rem !important;
    height: 0.5rem !important;
}
